.flip-book  {
  margin: 5% auto 8% auto;
  display: block;
  max-height: 400px;
  max-width: 100%;
  object-fit: contain;
}
.birdy {
  margin: 5% 0 0 auto;
  display: block;
  max-height: 200px;
  max-width: 100%;
  object-fit: contain;
}
.arrow-right {
    
  float: right;
  max-width: 3%;
  padding-top: 180px;
  padding-right: 10%;

}
.arrow-left {
  
float: left;
max-width: 3%;
padding-top: 180px;
padding-left: 10%;

}