



*{
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
  }

a {text-decoration: none;}


/*HEAD*/
/*Navigation Bar*/


.topnav a {
  display: inline-block;
  text-align: center;
  text-decoration: none; 
  table-layout: auto;
  font-family: 'Open Sans', sans-serif;}
/* 
  .topnav p {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    margin-left: 10%;
    padding: 14px 16px;
    text-decoration: none; 
    font-size: 17px;
    table-layout: auto;
    font-family: 'Open Sans', sans-serif;} */

 /* .topnav img {
   display: inline-block;
    color: #f2f2f2;
    text-align: center;
    margin-left: 10%;
    padding: 14px 16px;
    text-decoration: none; 
    font-size: 17px;
    table-layout: auto;
    font-family: 'Open Sans', sans-serif;} */

/*Hover is a function set by css for when you hover over a text, link or image*/


.topnav a.active {
  background-color: #fdf1f1;
  color: #333;}
.topnav p:hover {
  background-color: #fdf1f1; /*diffrent color*/
  color: #333;}
.topnav img:hover {
  background-color: #fdf1f1; /*diffrent color*/
  color: #333;}
  
/*Search box*/
.topnav input[type=text] {
  float: right;
  font-size:17px;
  color: white;
  font-family: 'Open Sans', sans-serif;}




/*BODY*/
body{
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: #333;
    /* background-color:#fdf1f1; */
   flex-direction: column; }
/*The .content wrapper styles elements in the html with the same class name*/
.content-wrapper{
    width: 100%;
    margin: 0% 2% 15% 0%;}
.text-wrapper{
    width: 100%;
    position: relative;
    margin-top: -55%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;}
.text-wrapper h1{
    text-align: left;
    color: #fcd9e9;
    font-size: 4vw;
    margin-top: 6%;
    padding-right: 8%;
    font-family:"ClassGarmnd BT","Times New Roman",serif;}
.text-wrapper h3{
font-family: 'Open Sans', sans-serif;    text-align: left;
    color: #ffffff;
    font-size: 3vw;
    margin-top: 6%;
    margin-bottom: 12%;
    margin-right: 7%;
  margin-left: 5%;} 
/*background Image*/
.index-img{
    width: 100%;
  
  opacity: 100%;
  margin-bottom: 2%;
background-color: rgb(24, 21, 21);}
/*See More Buttons*/
.text-wrapper a {
text-align: center;
vertical-align: bottom;
padding: 14px 14px;
margin-bottom:2%;
margin-right: 20%;
margin-left: 10%;
background-color: #fcd9e9;
font-size: 2vw;
font-family:"ClassGarmnd BT","Times New Roman",serif;
color: rgb(31, 29, 29);
cursor: pointer;}
.text-wrapper a:hover {
  opacity: 0.7;}


footer {
  position: relative;

  text-align: center;
}
.group-three{
  margin: 4% 10% 2% 10%;
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
  padding: 0;
  justify-content:space-between;}
.group-icons{
  display: grid;
  grid-template-columns: repeat(1,minmax(0,1fr));
  padding: 0;
  justify-content: space-between;} 
footer p a{
  color: black;
}
.foot-contact{
  margin-left: auto;
  margin-right: auto;
}
.foot-name{
  font-size:small;
  color: black;
}
/* @media all and (max-width:1500px) {
  .foot-name  {max-width:35px;}}
@media all and (max-width:1000px) {
  .foot-name {font-size: 30px;}}
@media all and (max-width:800px) {
  .foot-name {font-size: 16px;}}
   */
.foot-email{
  font-size:small;
  color: black;
}
.socialmedia img {
  width: 25px;}
@media all and (max-width:1500px) {
  .socialmedia img {max-width:35px;}}
@media all and (max-width:1000px) {
  .socialmedia img {max-width:25px;}}
@media all and (max-width:800px) {
  .socialmedia img {max-width:16px;}}



.group-midnav  {
  margin-left: 10% ; 
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));
  padding: 0;
  justify-content: space-evenly;  
}
.group-midnav a{
color: black;
font-size: 30px;  }
@media all and (max-width:1500px) {
  .group-midnav a {font-size:40px;}}
@media all and (max-width:1000px) {
  .group-midnav a {font-size:30px;}}
@media all and (max-width:800px) {
  .group-midnav a {font-size:25px;}}
@media all and (max-width:600px) {
  .group-midnav a {font-size:20px;}}


.group-midnav a:hover {
  background-color:#333 ;
  color: #f2f2f2;}

.group-midnav input{
  text-align: center;
  font-size: 17px;
  color: #333;
}