
  body{
    /* width: 100%;
    height: auto; */
    overflow: auto;
    background-color:#fdf1f1;
    margin-right: 5%;
   /* flex-direction: column;*/ } 
.code {
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* min-width: 262px;
  max-height: auto; */
  width: 100%;
  max-width: 95%; 
  min-height: 11rem;
  max-height: 30%;
  height: 500px;
  margin: 1% 10% 2% 2%;
  text-align: center;
  overflow: auto;
}

    /* width: 100%;
    max-width: 95%;
    min-height: 11rem;
    max-height: 40%;
    height: 600px;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    overflow: auto;
 
    -webkit-box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
            box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
  } */


  .inlineimg {
    display: inline-block;
    float: left;
  }
 
 .code p {
  text-align: justify;
  position: static;
  display: block;
  margin: 0 0 1% 57%;
  padding: 0 5% 0 0;
  text-align: justify;
  font-family:"ClassGarmnd BT","Times New Roman",serif;
/* text-align: left;
display: inline;
max-width: 100%;
height: auto;
margin-left: 2%;
margin-right: 2%;
padding-left: 5px;
padding-right: 5px; */
/* display: inline;
margin-top: 30px;
max-width: 100%;
font-family:"ClassGarmnd BT","Times New Roman",serif;
padding: 20px 3% 2% 0%; */

}


.code img{
max-width: 50%;
  height: auto;
  object-fit: contain;
  float: left;
  clear: left;
  margin-left: 2%;
  margin-bottom: 1%;
  margin-top: 0;
/* max-width: 50%;
height: auto;
object-fit: contain;
float: left;
clear: left;
margin-left: 1px; */}

.code-script{
  max-width: 50%;
  height: auto;
  object-fit: contain;
  float: left;
  clear: left;
  margin-left: 2%;
  margin-bottom: 1%;
  margin-top: 0;
  margin-right: 57%;
/* overflow: scroll; */
}

.code h3 {
  padding: 0% 0 1% 0;
 margin: 1% 3% 1% 3%;}

 .code h2 {
  padding: 2% 0 1% 0;
  margin: 1% 3% 1% 3%;}

.explanation-text-code p {
  margin-top: 2%;}

.explanation-text-code {
margin: 0% 3% 5% 3%;}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin: auto;
  }
  .card button:hover {
    opacity: 0.7;
  }


/*CODE BAR*/
  .codebar {
    overflow: hidden;
    background-color: #ca9e82;
    font-family:"ClassGarmnd BT","Times New Roman",serif;
  }
  
  /* Links inside the navbar */
  .codebar a {
    float: left;
    font-size: 16px;
    color: #fdf1f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color:  #fdf1f1;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .codebar a:hover, .dropdown:hover .dropbtn {
    background-color: #fdf1f1;
    color: #333;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e0c5b6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #fdf1f1;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }