



*{
    padding: 0;
    margin: 0;
    
  
 
  }
a {text-decoration: none;}



/*HEAD*/
/*Navigation Bar*/
.topnav {
 background-color: #333;
 overflow: auto; /*If there is overlapping text you will be able to see it after scrolling*/
 border-collapse: separate;
 border-spacing: 10px;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  /*the margin creates space around an element*/
  margin-left: 10%;
  /*the padding creates space on the inside of the borders set in place by the margins*/
  padding: 14px 16px;
  text-decoration: none; /*the default style is removed*/
  font-size: 17px;
  table-layout: auto;

font-family: 'Open Sans', sans-serif;}
/*Hover is a function set by css for when you hover over a text, link or image*/
.topnav a:hover {
  background-color: #ddd; /*diffrent color*/
  color: #333;}
.topnav a.active {
  background-color: #fdf1f1;
  color: #333;}
/*Search box*/
.topnav input[type=text] {
  float: right;
  font-size:17px;
  color: white;
  font-family:"ClassGarmnd BT","Times New Roman",serif;}
.index-logo{
  height: 50px;
  margin-bottom: 0%;
  background-color:#fdf1f1;
  padding: 0px 0px ;}
.right td {
  position: absolute;
  right: 0px;
  top: auto;}
.left {
  position: absolute;
  left: 0%;
  top: auto;}


/*BODY*/
body{
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: #333;
    /* background-color:#fdf1f1; */
   flex-direction: column; }
/*The .content wrapper styles elements in the html with the same class name*/
.content-wrapper{
    width: 100%;
    margin: 0% 2% 15% 0%;}
.text-wrapper{
    width: 100%;
    position: relative;
    margin-top: -55%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;}
.text-wrapper h1{
    text-align: left;
    color: #fcd9e9;
    font-size: 4vw;
    margin-top: 6%;
    padding-right: 8%;
    font-family:"ClassGarmnd BT","Times New Roman",serif;}
.text-wrapper h3{
font-family: 'Open Sans', sans-serif;    text-align: left;
    color: #ffffff;
    font-size: 3vw;
    margin-top: 6%;
    margin-bottom: 12%;
    margin-right: 7%;
  margin-left: 5%;} 
/*background Image*/
.index-img{
    width: 100%;
  
  opacity: 100%;
  margin-bottom: 2%;
background-color: rgb(24, 21, 21);}
/*See More Buttons*/
.text-wrapper a {
text-align: center;
vertical-align: bottom;
padding: 14px 14px;
margin-bottom:2%;
margin-right: 20%;
margin-left: 10%;
background-color: #fcd9e9;
font-size: 2vw;
font-family:"ClassGarmnd BT","Times New Roman",serif;
color: rgb(31, 29, 29);
cursor: pointer;}
.text-wrapper a:hover {
  opacity: 0.7;}


/*Footer*/
footer {
  text-align: center;
  background-color: #333;
  color: #f2f2f2;
  /* display: block; */
  position: relative;
  margin-bottom: 0%;
  left: auto;
  width: 100%;
  margin-top: auto;
  padding-top: 2%;

 }
  
footer p{
font-family: 'Open Sans', sans-serif;  margin: 0% 0 2% 2%;

  color: #f2f2f2;
}
.foot-contact {
  position: static;
  /* display: inline; */
  margin:  0 0 8% 0%;
  padding: 0% 5% 0 0;
  text-justify: inter-character;
font-family: 'Open Sans', sans-serif;  
}
.socialmedia img {
  width: 25px;
  margin: 0 0 2% 2%;
  padding: 0 16px;}
  .midnav {
   margin-left: auto;
   margin-right: auto;
  }
.midnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
font-family: 'Open Sans', sans-serif;}
.midnav a:hover {
  background-color: #f2f2f2;
  color: #333;}
.midnav input{
  text-align: center;
  font-size: 17px;
  color: white;
font-family: 'Open Sans', sans-serif;}